<header class="w3-container w3-theme w3-card-2">
    <h1>Main View</h1>
</header>

<div class="w3-container">
        <h2>Card Content</h2>
        <p>Add containers inside the card to create different sections:</p>

        <div class="w3-card-4" style="width:50%;">
            <header class="w3-container w3-blue">
                <h1>Header</h1>
            </header>

            <div id="DisplayMessages" class="w3-container">
                
            </div>
            
            <div class="w3-container">
                <input id="txtMessage" type="text">
                <button onclick="SendMessage()">send</button>
            </div>

            <footer class="w3-container w3-blue">
                <h5>Footer</h5>
            </footer>
        </div>
    </div>